In [1]:
people = {
    "first" : ["Sutton" , "Kat" , "Jane"] ,
     "last" : ["Brady" , "Edison" , "Sloan"] ,
     "email" : ["sutton@gmail.com" , "kat@gmail.com" , "jane@gmail.com"],
     "workplace" : ["Scarlet" , "Scarlet" , "Incite"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first    last             email workplace
0  Sutton   Brady  sutton@gmail.com   Scarlet
1     Kat  Edison     kat@gmail.com   Scarlet
2    Jane   Sloan    jane@gmail.com    Incite

## Sort

In [7]:
df.sort_values(by = 'first' , ascending = False)

    first    last             email workplace
0  Sutton   Brady  sutton@gmail.com   Scarlet
1     Kat  Edison     kat@gmail.com   Scarlet
2    Jane   Sloan    jane@gmail.com    Incite

In [ ]:
##